<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= title %></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet"/>
    <link href="/stylesheets/bootstrap-theme.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/styles_admin.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/themes/default/default.css" />
    <script charset="utf-8" src="/javascripts/kindeditor-min.js"></script>
    <script charset="utf-8" src="/javascripts/lang/zh_CN.js"></script>
    <script>
        var editor;
        KindEditor.ready(function(K) {
            editor = K.create('textarea[name="content"]', {
                allowFileManager : true
            });
            K('input[name=getHtml]').click(function(e) {
                alert(editor.html());
            });
            K('input[name=isEmpty]').click(function(e) {
                alert(editor.isEmpty());
            });
            K('input[name=getText]').click(function(e) {
                alert(editor.text());
            });
            K('input[name=selectedHtml]').click(function(e) {
                alert(editor.selectedHtml());
            });
            K('input[name=setHtml]').click(function(e) {
                editor.html('<h3>Hello KindEditor</h3>');
            });
            K('input[name=setText]').click(function(e) {
                editor.text('<h3>Hello KindEditor</h3>');
            });
            K('input[name=insertHtml]').click(function(e) {
                editor.insertHtml('<strong>插入HTML</strong>');
            });
            K('input[name=appendHtml]').click(function(e) {
                editor.appendHtml('<strong>添加HTML</strong>');
            });
            K('input[name=clear]').click(function(e) {
                editor.html('');
            });
        });
    </script>
</head>
<body class="custom-background body-hp">
<% include header.html %>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div>关于页面内容</div>
    <form action="/admin/about/intro" method="post" id="about_form">
        <textarea name="content" style="width:800px;height:400px;visibility:hidden;"><%- mainbody %></textarea>
        <input type="submit" value="Submit" />
    </form>
</div>

<% include footer.html %>

</body>
</html>