<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title><%= title %></title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link rel="stylesheet" href="/stylesheets/styles_old.css" type="text/css" media="screen" />
  <script type="text/javascript" src="/javascripts/jquery-1.11.1.min.js"></script>

  <script type="text/javascript" src="/javascripts/wpyou.js"></script>
  <!--[if lt IE 9]>
  <script type="text/javascript" src="/javascripts/respond.js"></script>
  <![endif]-->
  <script type="text/javascript" src="/javascripts/wow.min.js"></script>
  <script type="text/javascript">new WOW().init();</script>
</head>
<body class="custom-background body-hp">
<% include header.html %>


<!-- Container begin -->
<div class="inner container container-hp"><!-- Column01 begin -->
  <section class="row-fluid">
    <div class="stinner col-md-3">
      <div>
        <h2>Pegasus Touch</h2>
        <p><a href="http://www.speedymaker.cn/pegasus-touch/"><img class="wow animated fadeInUp animated" style="visibility: visible;" src="http://www.speedymaker.cn/wp-content/uploads/2015/05/111.jpg" alt="" /></a></p>
        <h3 style="color: #f60;">原装进口 现货供应</h3>
        <p>Pegasus Touch曾在kickstarter众筹募集超82万美金。<br />
          采用SLA光固化技术、超大打印空间、3微米超高精度、售后无忧。</p>
        <ul>
          <li>XY轴定位精度：3um；Z轴定位精度：5um；</li>
          <li>成型技术：SLA；成型尺寸：177*177*228mm</li>
          <li>激光斑点半峰宽：80um</li>
          <li>触摸屏：4.3寸高清彩色</li>
          <li><em>设备尺寸：</em>357x338x428mm</li>
          <li><em>树脂成本：</em>1199元/L</li>
          <li><em>输入电压：</em>110-240V</li>
          <li><em>打印方式：</em>USB，APP，Wifi，网络打印，一台电脑可以同时控制多台打印机</li>
          <li><em>打印材料：光敏树脂</em></li>
          <li></li>
        </ul>
        <p><a class="readmore-mid" style="color: #f60">查看更多参数</a></p>
      </div>
      <div>
        <h2>Phoenix Touch Pro</h2>
        <p><a href=" http://www.speedymaker.cn/phoenix-touch-pro-2/"><img class="wow animated fadeInUp animated" style="visibility: visible;" src="http://www.speedymaker.cn/wp-content/uploads/2015/05/phoenix-touch-pro1.jpg" alt="" /></a></p>
        <h3 style="color: #f60;">最新上市 高精DLP</h3>
        <p>支持联网打印功能，用户无需将打印机和计算机直接联机，随心所欲的将打印机放置在同一网络的任何地方；彩色触摸屏，操作更加直观便捷。</p>
        <ul>
          <li>成型技术：DLP 激光成型技术；XY轴分辨率达50微米、滚珠丝杠的终极Z轴精度（分辨率5微米）；加工平台大小：120×60×130 mm；升级的、全玻璃光学投影机，UV LED 使用寿命高达20000多小时；使用UV LED让机器的固化时间比基于卤素灯泡的DLP打印机快10倍；SuperVAT技术；独立的USB驱动器：无需外接电脑；独立的网络连接：一台计算机可以控制几十台打印机；先进的3D打印管理软件带脱壳/中空和树形支撑（最多可节省80％的材料）；种可用材料：透明、不透明、可注塑、柔性；材料成本比同类3D打印机低至少33％</li>
        </ul>
        <p><a class="readmore-mid" style="color: #f60;">查看更多参数</a></p>
      </div>
      <div>
        <h2>S-Maker Smartor</h2>
        <p><a href=" http://www.speedymaker.cn/s-maker-smartor/"><img class="wow animated fadeInUp animated" style="visibility: visible;" src="http://www.speedymaker.cn/wp-content/uploads/2015/05/S-Maker-Smartor1.jpg" alt="" /></a></p>
        <h3 style="color: #f60;">企业专用 API打印</h3>
        <p>不但具有U盘打印和网络打印功能，针对企业用户大批量打印的需求，特别开发了打印API，用户可以在自己的软件系统中调用打印机API打印。</p>
        <ul>
          <li>XY轴定位精度：0.0125mm</li>
          <li>Z轴定位精度：0.0025mm</li>
          <li>打印精度公差：0.1-0.2mm</li>
          <li>成型尺寸：197x198x216mm</li>
          <li>喷头移动速度：20-100mm</li>
          <li>层厚：最小0.05mm 建议0.1mm</li>
          <li><em>喷嘴直径：</em>0.3mm</li>
          <li><em>设备尺寸：</em>455x463x513mm</li>
          <li><em>重量：</em>25KG</li>
          <li><em>输入电压：</em>110-240V</li>
          <li><em>打印方式：</em>U盘打印，网络打印</li>
        </ul>
        <p><a class="readmore-mid" style="color: #f60;">查看更多参数</a></p>
      </div>
      <div>
        <h2> Flatbed CO2 Laser</h2>
        <p><a href=" http://www.speedymaker.cn/激光切割机雕刻机-metal-cutter-series-flatbed-co2-laser"><img class="wow animated fadeInUp animated" style="visibility: visible;" src=" http://www.speedymaker.cn/wp-content/uploads/2016/02/00-3103105.jpg" alt="" /></a></p>
        <h3>激光切割机雕刻机</h3>
        <p>Metal Cutter Series美国原装进口</p>
      </div>
      <div>
        <h2>Flatbed Fiber Laser</h2>
        <p><a href="  http://www.speedymaker.cn/激光切割机雕刻机-metal-cutter-series-flatbed-fiber-laser"><img class="wow animated fadeInUp animated" style="visibility: visible;" src=" http://www.speedymaker.cn/wp-content/uploads/2016/02/00-3103106.jpg" alt="" /></a></p>
        <h3>激光切割机雕刻机</h3>
        <p> Metal Cutter Series美国原装进口
          </ul>
      </div>
      <div>
        <h2>Scanning Galvo Fiber Laser</h2>
        <p><a href="http://www.speedymaker.cn/激光切割机雕刻机metal-cutter-series-scanning-galvo-fiber-laser"><img class="wow animated fadeInUp animated" style="visibility: visible;" src=" http://www.speedymaker.cn/wp-content/uploads/2016/02/00-3103107.jpg" alt="" /></a></p>
        <h3>激光切割机雕刻机</h3>
        <p>  Metal Cutter Series美国原装进口</p>
      </div>
      <div>
        <br></p>
        <h2>Pro 36x24</h2>
        <p><a href="http://www.speedymaker.cn/金属激光切割机雕刻机p-series-pro-36x24-lase"><img class="wow animated fadeInUp animated" style="visibility: visible;" src="http://www.speedymaker.cn/wp-content/uploads/2016/02/00-310310.jpg" alt="" /></a></p>
        <h3>激光切割机雕刻机</h3>
        <p>P-Series美国原装进口</p>
      </div>
      <div>
        <br></p>
        <h2>Pro 36x24 Lase</h2>
        <p><a href=" http://www.speedymaker.cn/金属激光切割机雕刻机-p-series-dual-head-laser"><img class="wow animated fadeInUp animated" style="visibility: visible;" src="http://www.speedymaker.cn/wp-content/uploads/2016/02/00-3103101.jpg" alt="" /></a></p>
        <h3 >激光切割机雕刻机</h3>
        <p>P-Series双激光头 美国原装进口</p>
      </div>
      <div>
        <br></p>
        <h2>Pro 20x12 Laser</h2>
        <p><a href="  http://www.speedymaker.cn/金属激光切割机雕刻机-p-series-pro-20x12-laser"><img class="wow animated fadeInUp animated" style="visibility: visible;" src=" http://www.speedymaker.cn/wp-content/uploads/2016/02/00-3103102.jpg" alt="" /></a></p>
        <h3>激光切割机雕刻机</h3>
        <p>P-Series美国原装进口</p>
      </div>
      <div>
        <br></p>
        <h2>Pro 48x36 Laser</h2>
        <p><a href="http://www.speedymaker.cn/亚克力木材激光切割机雕刻机-p-series-pro-48x36-laser"><img class="wow animated fadeInUp animated" style="visibility: visible;" src=" http://www.speedymaker.cn/wp-content/uploads/2016/02/00-3103103.jpg" alt="" /></a></p>
        <h3>激光切割机雕刻机</h3>
        <p>P-Series美国原装进口</p>
      </div>
      <div>
        <br></p>
        <h2>5th Gen CO2 Desktop Laser</h2>
        <p><a href=" http://www.speedymaker.cn/激光切割机雕刻机-h-series-5th-gen-co2-desktop-laser"><img class="wow animated fadeInUp animated" style="visibility: visible;" src=" http://www.speedymaker.cn/wp-content/uploads/2016/02/00-3103104.jpg" alt="" /></a></p>
        <h3>激光切割机雕刻机</h3>
        <p> H-Series 美国原装进口</p>
      </div>
      <div>
        <h2> </h2>
        <p><a href=" "><img class="wow animated fadeInUp animated" style="visibility: visible;" src=" " alt="" /></a></p>
        <h3> </h3>
        <p><br><br />
          <br><br />
          <br><br />
          <br><br />
          <br><br />
          <br><br />
          <br><br />
          <br></p>
      </div>
      <div>
        <br></p>
        <h2>3D定制服务</h2>
        <p><a href=" http://www.speedymaker.cn/光敏树脂样品打印光固化/"><img class="wow animated fadeInUp animated" style="visibility: visible;" src="http://www.speedymaker.cn/wp-content/uploads/2015/12/11.jpg" alt="" /></a></p>
        <h3 style="color: #109976;">光敏树脂样品打印|光固化</h3>
        <p>|Pegasus Touch|美国FSL3D品牌</p>
      </div>
      <div>
        <br></p>
        <h2>3D定制服务</h2>
        <p><a href="  http://www.speedymaker.cn/工业级3d打印机打样/"><img class="wow animated fadeInUp animated" style="visibility: visible;" src="http://www.speedymaker.cn/wp-content/uploads/2016/01/12.jpg" alt="" /></a></p>
        <h3 style="color: #109976;">工业级3d打印机打样</h3>
        <p>工业级3d打印机打样</p>
      </div>
    </div>
  </section>
  <!-- Column01 end -->
  <div class="clearfix"></div>
  <!-- FriendLink begin -->
  <!-- FriendLink end -->
</div>
<!-- Container end -->

<% include footer.html %>

</body>
</html>